* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #43281c;
    color: #fbf2c0;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    height: 25px;
    width: 25px;
}

header h1 {
    display: inline;
    font-size: 1rem;
}

main {
    background-color: #f0f0f0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

h3 {
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 0.75rem;
}

.items, .name, .payment {
    background-color: #ece1d5;
    color: #dab991;

    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -2px 2px 5px gray;
}

.name input, .payment input {
    padding: 5px;
    margin: 5px;
    width: 80%;
    background-color: transparent;
    border-radius: 100px;
    display: block;
    border-color: #dab991;


}

.name label, .payment label {
    position: relative;
    top: 10px;
    left: 20px;
    background-color: #ece1d5;
    padding: 4px;
}

.items {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.items-table {
    border-collapse: collapse;
}

.items .items-table {
    margin-left: auto;
    margin-right: auto;
}

.items-table tr:nth-child(even) {
    border-bottom: #43281c solid 1px;
    margin: 10px;
}

.items-table tr:last-child() {
    border-bottom: none;
}

.item td {
    width: 10%;
}

.item .item-name {
    width: 80%;
}

.name {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.payment {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;


}

.totals {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;

    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.totals .data {
    margin-left: auto;
    margin-right: auto;
}

.button {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    justify-content: center;

    height: 3rem;
}

.button button {
    background-color: #dab991;
    width: 80%;
    height: 2rem;

    border-radius: 100px;
}