* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: chocolate;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    height: 16px;
    width: 16px;
}

h1 {
    font-size: 16px;
    display: inline;
}

main {
    background-color: ghostwhite;
}

.order-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.items, .name, .payment {
    background-color: burlywood;
    margin: 2rem;
    border: 2px brown solid;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
}

.payment {
    display: flex;
    flex-direction: column;
}

label {
    top: -7px;
}

.pay-button {
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 75%;
    background-color: brown;
    border-radius: 5px;
}




