* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: lime;
}

header {
    background-image: linear-gradient(midnightblue, blue);
    position: sticky;
    top: 0;
    box-shadow: 0 20px 20px -10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    height: auto;
}

.pages {
    list-style-type: none;
}

.pages li {
    display: inline-block;
}

.pages li a {
    text-decoration: none;
    color: var(--font-color);
}

.signup {
    padding: 1rem;
    margin-right: 1rem;
    background-color: lime;
}

.signup:hover {
    transform: rotate(0.25turn);
}

.fox:hover {
    translate: 40px 40px;
}


