@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Skranji&display=swap');

* {
    box-sizing: border-box;
}

header {
    font-family: 'Roboto', sans-serif;
    font-family: 'Skranji', cursive;
    font-size: 3rem;
    text-align: center;
    background-color: azure;
    color: black;
    padding: 2rem;
    border: solid black 2px;
    border-radius: 2px;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

p {
    width: 2rem;
    height: 2rem;
    background-color: azure;
    color: black;
    border: solid black 2px;
    border-radius: 2px;
}